# ignore dependencies files that are in "node_modules" directory
**/node_modules

# ignore source files
jeday7/

# ignore start template
optimizedhtml-start-template-master/

#ignore .zip files
*.zip

#ignore questions folder
questions/